body {
  background-color: #EFEEE7;
  color: #231F20;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  display: flex;
  justify-content: space-between;
}

.intro {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

.name-container {
  max-width: 500px;
}

.name {
  font-size: 56px;
}

p {
  font-size: 21px;
}

svg {
  margin-right: 5px;
}

.about {
  text-decoration: none;
  color: #212529;
}

a {
  text-decoration: none;
  color: #231F20;
}

.facebook:hover {
  color: #316FF6;
}

.instagram:hover {
  color: #962fbf;
}

.discord:hover {
  color: #5865F2;
}

.github:hover,a:hover {
  color: #686c70;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 16px;
  color: #ffffff;
  background-color: #212529;
}

@media (max-width: 992px) and (min-width: 761px) {
  .rounded {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  .container {
    align-items: center;
  }
  .container p {
    font-size: 18px;
  }
  .container h1 {
    font-size: 35px;
  }
  .container .intro {
    width: 40%;
  }
}

@media (max-width: 766px) {
  .body {
    min-height: 100vh;
  }
  .container {
    flex-direction: column-reverse;
  }
  .rounded {
    width: 65%;
    height: auto;
    margin-bottom: 10px;
  }
  .main {
    margin: 10px;
  }
  .footer {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .name {
    font-size: 35px;
  }
  p {
    font-size: 16px;
  }
}


@media (max-width: 370px) {
  .container h1 {
    font-size: 25px;
  }
  .container p {
    font-size: 16px;
  }
}